<div class="b-example-divider"></div>

<div class="container">
    <footer>
        <div class="footer-container">
            <div class="footer-content">
                <p>2024 Crypto Check. All Rights Reserved. (Raihan Stuff :P)</p>
            </div>
        </div>
    </footer>
  </div>