<header>
  <nav>
      <aside>
          <h1>Crypto Check</h1>
      </aside>
      <i class="fas fa-bars"></i> 
  <ul>
      <li>
          <a href="#css">Blog</a>
      </li>
      <li>
          <a href="#">Home</a>
      </li>
  </ul>
  </nav>
</header>

